/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */

#features {
	text-align: center;
}

#features img {
	margin: 0 0 20px;
}

#inputMessage {
	margin-bottom: 15px;
}

footer {
	background: #333;
	color: #eee;
	font-size: 11px;
	padding: 20px;
}


/* --------------------------------------
   Typography
   -------------------------------------- */

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

.well .page-header {
	margin-top: 0;
}

.well .page-header h1 {
	margin-top: 0;
}

ul.unstyled {
	list-style: none;
	padding: 0;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */

#searchInput {
	width: 200px;
}

.navbar-brand {
	padding: 13px 15px;
}
   
   
/* --------------------------------------
   Carousel
 
   -------------------------------------- */


#myCarousel {
	margin-top: 60px;
}

.carousel-caption {
	font-size: 24px;
}

.carousel-caption h4 {
	font-size: 32px;
}

/* 

Heading start

*/
.padding{
	padding-bottom: 2rem;
}
.welcome{
	width: 75%;
	margin:0 auto;
	padding-top: 2rem;
}
.welcome hr{
	border-top: 2px solid #b4b4b4;
	width: 95%;
	margin-top: .3rem;
	margin-bottom: 1rem;
}
.display-4{
	font-size: 200%;
}
hr{
	border-top: 2px solid #b4b4b4;
	width: 95%;
	margin-top: .3rem;
	margin-bottom: 1rem;
}



/* --------------------------------------
   Global Styles
   -------------------------------------- */

.alert {
	margin-top: 20px;
	display: none;
}

.well {
	margin: 20px 0;
}

.tabbable img.thumbnail {
	margin: 0 20px 10px 0;
}

.thumbnails {
	margin: 20px 0;
}

.thumbnail {
	position: relative;
}

.thumbnail span.glyphicon {
	margin-right: 5px;
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */


/* Landscape phone to portrait tablet */
@media (max-width: 576px) {
	
	.carousel-caption {
		font-size: 10px;
	}
	
	.carousel-caption h4 {
		font-size: 20px;
	}
	
}

/* Large desktop */
@media (max-width: 768px) {

	
	
	.carousel-caption {
		font-size: 16px;
	}
	
	.carousel-caption h4 {
		font-size: 26px;
	}
	

}

/* container*/

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.my-class {
    background:aliceblue;
}
.backg{
	background:lightpink;
}
.btn-primary {
	color: pink;
	background-color:white;
	border-color:white;
  }
  .text-center {
	text-align: center;
  }

  .social a {
		font-size: 4.5em;
		padding: 3rem;
  }
  .fa-facebook{
	  color: #3b5998;
	  
  }
 .fa-twitter{
	 color:#00aced;
	 
 }

 .fa-instagram{
	color:deeppink;
 }
 .fa-youtube{
	 color:#bb0000;
 }
 .fa-facebook:hover,
 .fa-instagram:hover,
 .fa-twitter:hover,
 .fa-youtube:hover{
	 color: #d5d5d5;
 }
 .styling{
	 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	 font-weight: bold;
 }
 :root {
	--animate-delay: 2s;
  }
  
  /* All delay classes will take half the time to start */
  :root {
	--animate-delay: 0.5s;
  }
  .my-element {
	--animate-repeat: 2;
  }


